<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
      table, th, tr, td {
        border: 1px solid black;
      }
    </style>
	<title>Predictions</title>
  </head>

  <body>
    <div class='container'>
      <h3>Make predictions on arbitrary text</h3>
    </div>
    <div class='container'>
      <form method="POST" enctype="multipart/form-data" action="{% url 'result2' %}" >
	    <p><p><p>
      Enter arbitrary text here to classify with the trained model.<p>
      <input type="text" name="classifyMe" size=80 required="true"/>
      <p><p><p>
	    <input type="submit" value="Classify this"/>
	    </form>
    </div>

    <div class='container'>
      <p><a href="{% url 'home' %}">Start Over</a>
    </div>

 </body>
</html>
